html, body {
  paggind: 0px;
  margin: 0px;
  font-family: Roboto, sans-serif;
  color : gray;

}

.bnknav {
width : 100%;
height: auto;
background-color:white;
position:fixed;
top:0;
opacity: 0.85;
border-bottom: 1px solid silver;

}
.bnknav .logo {
  width :100px;
  float :left ;
  padding: 15px;
  vertical-align: middle;

}

.bnknav .bnklinkButton {
  background-color: white;
  text-decoration: none;
  border : 1px solid silver;
  color : gray;
  float : right;
  margin: 15px;
  vertical-align: middle;
}

.bnk .navlinks {
float : right;
vertical-align: middle;

}


.col-1 {
  float: left;
  width: 8.33333333%;
}

.col-2 {
  float: left;
  width: 16.666666%;
}

.col-3 {
  float: left;
  width: 25%;
}

.col-4 {
  float: left;
  width: 33.33333333%;
}

.col-5 {
  float: left;
  width: 41.666666%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-7 {
  float: left;
  width: 58.333333%;
}

.col-8 {
  float: left;
  width: 66.666666%;
}

.col-9 {
  float: left;
  width: 75%;
}

.col-10 {
  float: left;
  width: 83.333333%;
}

.col-11 {
  float: left;
  width: 91.6666666%;
}

.col-12 {
  float: left;
  width: 100%;
}
.row:before {
  display: table;
  content: "";
}

.row:after {
  display: table;
  content: "";
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
    body {
      background-color:white;
    }
    .bnknav .logo {
      width :50px;
      float :left ;
      padding : 5px;

    }

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
      body {
        background-color:pink;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      body {
        background-color:red;
      }
      .bnknav .logo {
        width :70px;
        float :left ;
        padding : 10px;

    }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      body {
        background-color:magenta;
      }
      .bnknav .logo {
        width :80px;
        float :left ;
        padding : 10px;

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      .bnknav .logo {
        width :80px;
        float :left ;
        padding : 5px 5px 5px 35px;

    }
